.myheader .ali {
  background-color: teal;
}

.hide-when-mobile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* ==================
    3. header of mobile
===================== */
.show-when-mobile {
  display: none;
}

.signout {
  all: unset;
  padding: 8px 15px;
}

.logo {
  animation: logonai 25s infinite;
}

.logo:hover {
  font-size: x-large;
}

@keyframes logonai {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    letter-spacing: 7px;
    opacity: 1;
  }
}

@media (max-width: 800px) {
  .show-when-mobile {
    /* display: block; */
  }

  .hide-when-mobile {
    /* display: none; */
  }
}
